@include g-setup((
	columns: 12,
	column-width: 60, // unitless value
	width: 960, // unitless value
	container-width: 90vw, // absolute value
	container-max-width: 1200px
));

@include g-register-state(t, (
	min-width : 640px
));
@include g-register-state(d, (
	min-width : 1025px
));

@include g-custom-class('center') {
	text-align: center;
}

@include g-classes();
