$c-black: #000000;
$c-white: #ffffff;
$c-grey: #f4f4f5;
$c-pink: #f5e3e7;

$f-primary: 'Roboto', sans-serif;
$f-secondary: 'Apercu', Calibri, sans-serif;

$c-text: #211f20;
$c-primary: $c-grey;
$c-link: $c-black;
$c-heading: $c-text;
$c-separator: #eaedef;

$anim-time: 0.5s;
