$c-black: #000000;
$c-white: #ffffff;
$c-yellow: #ebba4e;
$c-brown-d: #221f20;

$f-primary: 'Roboto', sans-serif;

$c-text: #211f20;
$c-primary: $c-yellow;
$c-secondary: $c-brown-d;
$c-link: $c-yellow;
$c-heading: $c-text;
$c-separator: #eaedef;

$anim-time: 0.5s;
